<%- include header.ejs %>

    <a href="/add"><button class="btn btn-success">Wanna add some new todo's?</button></a>

    <ul class="list-group  mt-5">
        <% if (locals.data) { %>
            <% data.forEach((data) => { %>
                <li class="list-group-item">
                    <a href="/edit/<%= data.id %>" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" onclick="document.getElementById('deleteForm<%= data.id %>').submit();">Delete</button>
                    <form action="/delete/<%= data.id %>" onsubmit="confirm('Stephan! you are about to delete a beautiful task, are you sure?')" style="display:none" method="POST" id="deleteForm<%= data.id %>">
                        <input type="text" name="id" value="<%= data.id %>">
                    </form>
                    <%= data.title %> </li>
            <% }); %>
        <% } %>
    </ul>


<%- include footer.ejs %>